{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load coursetags %}
{% block title %}教程 - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="row mt-4 justify-content-center">
        <div class="card-deck">
            {% for course in courses %}
                <div class="">
                    <div class="card mb-4 bg-dark text-white hvr-float-shadow">
                        {% if course.avatar_thumbnail %}
                            <div style="overflow: hidden;">
                                <a href="{% url 'course:course_articles_list' course.id %}">
                                    <img src="{{ course.avatar_thumbnail.url }}"
                                         class="card-img-top hvr-grow"
                                         style="transition-duration: 1s;"
                                    >
                                </a>
                            </div>
                        {% endif %}
                        <div class="card-body" style="padding-bottom: 0">
                            <h5 class="card-title">
                                <a href="{% url 'course:course_articles_list' course.id %}"
                                   style="color: white;"
                                   class="no-underline hvr-forward"
                                >
                                    {{ course.title }}
                                </a>
                            </h5>
                            <p class="card-text mb-0">
                                <i class="fas fa-eye" style="color: lightskyblue;"></i>
                                {% course_total_views course.id %}&nbsp;&nbsp;
                                <i class="fas fa-heart" style="color: #FF6767;"></i>
                                {{ course.likes_count }}&nbsp;&nbsp;
                                <i class="fas fa-file" style="color: #f0c674;"></i>
                                {% course_total_articles course.id %}
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}