{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load weibo_utils %}

{% block title %}{{ article.title }} - 杜赛的个人网站{% endblock %}
{% block content %}
    <div>
        <div class="mt-4">
            <div>
                <div>
                    <h1>
                        {{ article.title }}
                    </h1>
                    <p class="text-muted">
                        {{ article.total_views }}阅读 ·
                        {{ article.comments.count }}评论 ·
                        {{ article.created|date:"Y/m/d" }}发布 &nbsp;
                        <a href="#Fcomments"
                           style="color: cornflowerblue;"
                           class="no-underline hvr-grow"
                        >
                            前往评论
                        </a>
                    </p>
                    <video src="{{ article.video_url }}"
                           controls
                           style="max-width: 100%;"
                    >
                        您的浏览器太老，无法运行视频哦
                    </video>
                    <pre style="color: #8D8D8D;">{{ article.body }}</pre>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col btn-group" role="group" aria-label="likes and appreciate">
                    <button class="btn btn-outline-danger hvr-icon-buzz-out animo_fireworks"
                            type="button"
                            onclick="animocons_handler(this, '{% url 'extends:increase_likes' 'vlog' article.id %}', {{ article.id }}, {{ article.likes }}, 'vlog')"
                    >
                        <span>点赞</span>
                        <span class="icobutton icobutton_{{ article.id }}">
                            <i class="fas fa-heart hvr-icon"></i>
                        </span>
                        <span id="likes_{{ article.id }}"
                              class="icobutton--heart"
                              data-id="{{ article.id }}"
                              data-type="vlog"
                        >
                            {{ article.likes }}
                        </span>
                    </button>
                    <button onclick="location.href='/admiration/'"
                            class="btn btn-outline-success btn-sm hvr-icon-up"
                            type="button"
                    >打赏
                        <i class="fas fa-coffee hvr-icon"></i>
                    </button>
                </div>
            </div>
            <br>
            <br>

            {% include 'comments/comment_module.html' %}
        </div>
    </div>
    <br>

{% endblock %}

{% block script %}
    <script src="{% static 'animocons_likes.js' %}"></script>
    <script src="{% static 'animo_fireworks.js' %}"></script>
{% endblock %}