{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}500 - 杜赛的个人网站{% endblock %}
{% block content %}
    <br/>
    <div style="text-align: center">
        <i class="fas fa-exclamation-triangle mb-4" style="color: orange; font-size: 8em"></i>
        <br/>
        <br/>
        <h3>ERROR 500</h3>
        <h3>服务器内部错误..</h3>
        <br/>
        <p>博主会知悉并尽快修复此bug，您也可以Email<a href="mailto:dusaiphoto@foxmail.com">通知博主</a></p>
        <p>若此bug影响到您的阅读，请暂时移步博主的<a href="https://zhuanlan.zhihu.com/django-blog">知乎专栏</a></p>
        <p>谢谢谅解！</p>
    </div>
    <br/>
    <hr/>
{% endblock %}